html{height:100%;}
body {
    background:#0D343A;
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);
    background-image: url('../../common/img/image.jpg');
    overflow:hidden;}

.rain {
    transform: rotate(51deg);
    margin-top: 280px;
}

.drop {
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
    width:1px;
    height:89px;
    position: absolute;
    bottom:200px;
    -webkit-animation: fall  .82s  linear infinite;
    -moz-animation: fall .83s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
    to {margin-top:692px;}
}
@-moz-keyframes fall {
    to {margin-top:692px;}
}

